<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI-PLACEHOLDER-KEY-NOT-FOR-USE</string>
	<key>BUNDLE_ID</key>
	<string>ozi.netflix-clone</string>
	<key>CLIENT_ID</key>
	<string>999999999999-00000000000000000000000000000000.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>999999999999</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:999999999999:ios:0000000000000000000000</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>netflix-clone-db400</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999999999999-00000000000000000000000000000000</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-clone-db400.firebasestorage.app</string>
</dict>
</plist>